
.idea
client/node_modules
client/dist
client/deploy.sh
client/cache
client/.netlify
client/fortawesome
client/src/in.html
client/.idea
client/.gita
client/src/asserts/fontawesome-pro-5.14.0-web
client/images
client/.vscode
client/gallery.html
client/src/storeData.json
client/README.MD


api/node_modules
api/.gita
api/.idea
api/dist
api/.env
api/app_markdown
api/markdown
api/src/drive
api/src/dropbox
api/README.MD
dev-story-old-with-row-mongodb-redis-caching.tar.gz
